@helper DeclareStyleSheets()
{
    <link 
            
        href="~/Content/themes/base/jquery.ui.all.css"

        rel="stylesheet" 
        type="text/css" 
            
        />


    <link 
            
        href="~/Content/Site.css" 
        rel="stylesheet" 
        type="text/css" 
            
        />
}
@helper DeclareJqueryScripts()
{
    <script src="~/Scripts/jquery-1.8.2.min.js"> </script>

    <script src="~/Scripts/jquery-ui-1.8.24.js"> </script>
}
@helper DeclareModernizrScript()
{
    <script src="~/Scripts/modernizr-2.6.2.js"> 
    
    </script>
}
@helper RenderFavIcon()
{
    <link 
            
        href="~/favicon.ico" 
            
        rel="shortcut icon" 
            
        type="image/x-icon" 
            
        />
}
@helper RenderPageFooter()
{
    <footer>
        
        <div class="content-wrapper">
        
            <div class="float-left">
        
                <p>
                    
                    &copy; @DateTime.Now.Year 
                    - My ASP.NET Web Page
                
                </p>
        
            </div>
        
        </div>
        
    </footer>
}




